<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/bootstrap.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<div id="root">
<h1>Help! We've unhooked</h1>
</div>
